body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}

a {
    text-decoration: none;
}

/* header */
header {
    background-image: url("../images/desktop/image-header.jpg");
    margin: 0;
    padding: 0;
}

.topNav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.topLogo {
    margin-top: 2rem;  
}

.topLogo a {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    color: white;
}

ul {
    list-style-type: none;
}

.containerLinks {
    margin-top: 2rem;
}

.containerLinks ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.containerLinks ul li {
    display: inline;
}

li {
    margin: 1rem;
}

h1 {
    text-align: center;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    margin-top: 5rem;
}

/* Frontend Mentor CSS */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
    .topLinks {
        display: none;
    }

    .topNav a.icon {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }

    .topLogo a {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 1rem;
    }

}